
{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="projects-clean">
  <div class="container">
      <div class="intro">
          <h2 class="text-center" style="font-family: 'Playfair Display', serif;">BLOG</h2>
          <p class="text-center" style="font-family: 'Source Sans Pro', sans-serif;">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
      </div>
      <div class="row projects">
          {% for blog in blogs.all %}
          
          <div class="col-sm-6 col-lg-4 item"><img class="img-fluid" src="{{ blog.image.url}}">
            <a href="/blog/{{ last.id }}">
              <h3 class="name" style="font-family: 'Playfair Display', serif;">{{ blog.title }}</h3>
              <p class="description" style="font-family: 'Source Sans Pro', sans-serif;">{{ last.summary }}</p>
              </a>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

{% endblock %}
