
{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="container hero" id="promo">
            <div class="row">
                <p></p>
                <div class="col">
                    <div class="jumbotron" style="background-color: rgba(255,255,255,0.7);">
                        <h1 style="font-size: 8;font-family: 'Playfair Display', serif;margin: 10PX;color: #282d32;">WHAT IS THIS?</h1>
                        <p style="font-family: 'Source Sans Pro', sans-serif;color: rgb(40,45,50);">MY PLACE TO TALK ABOUT TECH-WORD, COURSES REVIEWS, CONDING TUTORIALS AND MY PERSONAL EXPERIENCE WORKING ON DIFERENT PROJECTS.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><div class="blog-home3 py-5">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-md-8 text-center">
        <h3 class="my-3">Latest News </h3>
        <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</h6>
      </div>
      <!-- Column -->
      <!-- Column -->
    </div>
    <div class="row mt-4">

      <div class="col-lg-6">
        <div class="card border-0 mb-4">
          <a href="/blog/{{ last.id }}"><img class="card-img-top" src="{{ last.image.url}}" alt="wrappixel kit"></a>
          <div class="date-pos text-center text-white p-3 bg-success-gradiant">{{ last.pub_date_short }}</div>
          <h5 class="font-weight-medium mt-3"><a href="/blog/{{ last.id }}" class="link text-decoration-none">{{ last.pub_date_short }}</a></h5>
          <p class="m-t-20">{{ last.summary }} </p>
        </div>
      </div>

      <!-- Column -->
      <div class="col-lg-6">
        <div class="row">
      {% for blog in blogs.all %}
      <div class="col-md-6">
        <div class="card border-0 mb-4">
          <a href="/blog/{{ blog.id }}"><img class="card-img-top" src="{{ blog.image.url}}" alt="wrappixel kit"></a>
          <div class="date-pos text-center text-white p-3 bg-success-gradiant">{{ blog.pub_date_short }}</div>
          <h6 class="font-weight-medium mt-3"><a href="/blog/{{ blog.id }}" class="link text-decoration-none">{{ blog.title }}</a></h6>
          
        </div>
      </div>
      
      {% endfor %}
    </div>
  </div>

      <!-- Column -->
    </div>
  </div>
</div>

{% endblock %}
